# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
/input/
.idea/dbnavigator.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/xtextAutoBuilderState.xml
output/
vsop2013.iml
/config.json.txt
Would skip repository vsop2013/
/output/VSOP2013.p2000.bin
/output/VSOP2013.p1000.compute.txt
/output/VSOP2013.p1000.bin
/output/VSOP2013.p2000.compute.txt
/output/VSOP2013.m4000.compute.txt
/output/VSOP2013.m2000.compute.txt
/output/VSOP2013.m2000.bin
/output/VSOP2013.p4000.compute.txt
/output/VSOP2013.m1000.bin
/output/VSOP2013.m1000.compute.txt
/output/VSOP2013.m4000.bin
/output/VSOP2013.p4000.bin
/input/docs/VSOP2013_compute.f
/input/docs/README.pdf
/input/docs/VSOP2013_ctl.txt
/input/docs/VSOP2013_binfile.f
/input/VSOP2013.p4000
/input/VSOP2013.m1000
/input/VSOP2013.m2000
/input/VSOP2013.m4000
/input/VSOP2013.p1000
/input/VSOP2013.p2000
/input/solution/VSOP2013.f
/input/solution/README.pdf
/input/solution/VSOP2013p9.dat.txt
/input/solution/VSOP2013p1.dat.txt
/input/solution/VSOP2013p7.dat.txt
/input/solution/VSOP2013-secular.dat.txt
/input/solution/VSOP2013p3.dat.txt
/input/solution/VSOP2013p2.dat.txt
/input/solution/VSOP2013p8.dat.txt
/input/solution/VSOP2013.ctl.txt
/input/solution/VSOP2013p5.dat.txt
/input/solution/VSOP2013p6.dat.txt
/input/solution/VSOP2013p4.dat.txt
/output/
/vsop2013_db.go.txt
/vsop2013_sql.go.txt
